@media only screen and (max-width: 800px) {
  .profile_text_area {
    position: absolute;
    z-index: 1;
    float: top;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
  }

  .profile h1 {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: PressStart;
    letter-spacing: 4px;
    font-size: 40px;
    color: white;
    text-align: center;
    animation-name: moveRight;
    animation-duration: 2s;
    white-space: nowrap;
  }

  .profile h2 {
    position: relative;
    font-family: PressStart;
    letter-spacing: 4px;
    font-weight: 100;
    font-size: 26px;
    text-align: center;
    white-space: nowrap;
    color: white;
    animation-name: moveLeft;
    animation-duration: 3s;
  }

  .profile_text_area .profile_button {
    position: relative;
    display: inline-block;
    width: 180px;
    height: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
    animation-name: fadeIn;
    animation-duration: 4.5s;

    background-color: #ffffff;
    /*background: linear-gradient(to right, rgb(253, 214, 221) 50%, #FFF 50%);
    background-size: 200% 100%;
    background-position: right bottom;*/
    border-radius: 50px;

    transition: background-color 0.5s;
  }

  .profile .profile_button:hover {
    background-color: rgb(253, 214, 221);
    cursor: pointer;
  }

  .profile_button h3 {
    position: relative;
    margin: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-family: TypeWriter;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 13px;
    animation-name: fadeIn;
    animation-duration: 4.5s;
  }

  @font-face {
    font-family: "TypeWriter";
    src: url("./../fonts/TravelingTypewriter.otf");
  }
  @font-face {
    font-family: "PressStart";
    src: url("./../fonts/Marvelous-Sans-Demo.otf");
  }

  @keyframes moveRight {
    from {
      left: -100%;
      opacity: 0;
    }
    to {
      left: 0%;
      opacity: 1;
    }
  }

  @keyframes moveLeft {
    0% {
      left: 100%;
      opacity: 0;
    }
    25% {
      left: 100%;
      opacity: 0;
    }
    100% {
      left: 0%;
      opacity: 1;
    }
  }

  @keyframes moveHigh {
    from {
      top: 25%;
    }
    to {
      top: 3.5%;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
